cvxpy==1.3.2
langchain==0.0.231
langchainplus-sdk==0.0.20
matplotlib==3.7.1
numpy==1.24.2
openai==0.27.8
openpyxl==3.1.2
pandas==2.0.2
pyarrow==12.0.0
scipy==1.10.1
sklearn==0.0.post5
spacy==3.5.2
statsmodels==0.14.0
torch
tqdm==4.65.0
zh-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/zh_core_web_lg-3.5.0/zh_core_web_lg-3.5.0-py3-none-any.whl
transformers
gensim
bertopic
jieba
hdbscan
umap
sentence_transformers